.box_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .box_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
  }
}
@media  (max-width: 568px) {
  .box_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
  }
}